<html>
<head>
    <link rel="Stylesheet" type="text/css" href="%root_path%style.css" />
    <title>%title%</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <a href="%root_path%index.html">Index</a> |
    <a href="%root_path%diary/diary.html">Diary</a>
    <hr>
    <div class="content">
    %content%
    </div>
</body>
</html>
